.banner {
    -fx-font-size: 24pt;
    -fx-align: center;
}


.tree-table-row-cell.menu {
    -fx-border-style: solid;
    -fx-border-color: #000000 #ffffff #ffffff #ffffff;
    -fx-border-width: 1;
}

.tree-table-row-cell.variable {
    -fx-border-style: dotted;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;
    -fx-border-width: 1;
}

.tree-table-row-cell.variable.first-child {
    -fx-border-style: dotted;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;
    -fx-border-width: 1;
}

.tree-table-row-cell.variable.last-child {
    -fx-border-style: solid;
    -fx-border-color: #ffffff #ffffff #ffffff #ffffff;
    -fx-border-width: 1;
}

.tree-table-row-cell.menu.even {
    -fx-background-color: #ffffff;
}

.tree-table-row-cell.menu.odd {
    -fx-background-color: #a8a8a8;
}

.tree-table-row-cell.menu.warn.even {
    -fx-background-color: #ffff52;
}

.tree-table-row-cell.menu.warn.odd {
    -fx-background-color: #eeee63;
}

.tree-table-row-cell.menu.danger.even {
    -fx-background-color: #ff5252;
}

.tree-table-row-cell.menu.danger.odd {
    -fx-background-color: #ee6363;
}

.tree-table-row-cell.variable.even {
    -fx-background-color: #ffffff;
}

.tree-table-row-cell.variable.odd {
    -fx-background-color: #c4c4c4;
}

.tree-table-row-cell.variable.warn.even {
    -fx-background-color: #f3f395;
}

.tree-table-row-cell.variable.warn.odd {
    -fx-background-color: #f3f395;
}

.tree-table-row-cell.variable.danger.even {
    -fx-background-color: #ff8a8a;
}

.tree-table-row-cell.variable.danger.odd {
    -fx-background-color: #f39595;
}


